{% extends 'posts/base.html' %}
{% block content %}
<div class="col-12 mt-4">
    <form method="post" class="row" enctype="multipart/form-data">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-body">
                        <h3 class="card-title">
                            Вход
                        </h3>
                    </div>
                    <div>
                        {% if messages %}
                        <ul>
                            {% for message in messages %}
                            <li
                            {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div>
                            <button type="submit" class="btn btn-success">Восстановить пароль</button>
                        </div>
                        <div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </form>
</div>

</div>
{% endblock %}